---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ossboard-org/ossboard/issues/69
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1486841342'
      Etag:
      - W/"54f8e18ae9b6c47496798c3b6fe99909"
      Last-Modified:
      - Mon, 06 Feb 2017 06:01:30 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/ossboard-org/ossboard/issues/69","repository_url":"https://api.github.com/repos/ossboard-org/ossboard","labels_url":"https://api.github.com/repos/ossboard-org/ossboard/issues/69/labels{/name}","comments_url":"https://api.github.com/repos/ossboard-org/ossboard/issues/69/comments","events_url":"https://api.github.com/repos/ossboard-org/ossboard/issues/69/events","html_url":"https://github.com/ossboard-org/ossboard/issues/69","id":204797097,"number":69,"title":"Footer
        has not fixed to page bottom","user":{"login":"FChaack","id":7114795,"avatar_url":"https://avatars.githubusercontent.com/u/7114795?v=3","gravatar_id":"","url":"https://api.github.com/users/FChaack","html_url":"https://github.com/FChaack","followers_url":"https://api.github.com/users/FChaack/followers","following_url":"https://api.github.com/users/FChaack/following{/other_user}","gists_url":"https://api.github.com/users/FChaack/gists{/gist_id}","starred_url":"https://api.github.com/users/FChaack/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/FChaack/subscriptions","organizations_url":"https://api.github.com/users/FChaack/orgs","repos_url":"https://api.github.com/users/FChaack/repos","events_url":"https://api.github.com/users/FChaack/events{/privacy}","received_events_url":"https://api.github.com/users/FChaack/received_events","type":"User","site_admin":false},"labels":[{"id":486967901,"url":"https://api.github.com/repos/ossboard-org/ossboard/labels/bug","name":"bug","color":"ee0701","default":true},{"id":509529150,"url":"https://api.github.com/repos/ossboard-org/ossboard/labels/easy","name":"easy","color":"c2e0c6","default":false},{"id":486967904,"url":"https://api.github.com/repos/ossboard-org/ossboard/labels/help%20wanted","name":"help
        wanted","color":"128A0C","default":true}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2017-02-02T06:57:25Z","updated_at":"2017-02-02T11:08:21Z","closed_at":null,"body":"Currently,
        for the big screen, footer has not fixed to page bottom.\r\n![footer](https://cloud.githubusercontent.com/assets/7114795/22539864/ed84b5e2-e92d-11e6-8490-1625f1a3b570.png)\r\n","closed_by":null}'
  recorded_at: Sat, 11 Feb 2017 18:29:01 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ossboard-org/ossboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1486841342'
      Etag:
      - W/"41241fc4f0e381580e9fbb205fcd2672"
      Last-Modified:
      - Sun, 05 Feb 2017 09:31:26 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":74514701,"name":"ossboard","full_name":"ossboard-org/ossboard","owner":{"login":"ossboard-org","id":25467649,"avatar_url":"https://avatars.githubusercontent.com/u/25467649?v=3","gravatar_id":"","url":"https://api.github.com/users/ossboard-org","html_url":"https://github.com/ossboard-org","followers_url":"https://api.github.com/users/ossboard-org/followers","following_url":"https://api.github.com/users/ossboard-org/following{/other_user}","gists_url":"https://api.github.com/users/ossboard-org/gists{/gist_id}","starred_url":"https://api.github.com/users/ossboard-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ossboard-org/subscriptions","organizations_url":"https://api.github.com/users/ossboard-org/orgs","repos_url":"https://api.github.com/users/ossboard-org/repos","events_url":"https://api.github.com/users/ossboard-org/events{/privacy}","received_events_url":"https://api.github.com/users/ossboard-org/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/ossboard-org/ossboard","description":"Public
        board for oss issues and mentoring","fork":false,"url":"https://api.github.com/repos/ossboard-org/ossboard","forks_url":"https://api.github.com/repos/ossboard-org/ossboard/forks","keys_url":"https://api.github.com/repos/ossboard-org/ossboard/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ossboard-org/ossboard/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ossboard-org/ossboard/teams","hooks_url":"https://api.github.com/repos/ossboard-org/ossboard/hooks","issue_events_url":"https://api.github.com/repos/ossboard-org/ossboard/issues/events{/number}","events_url":"https://api.github.com/repos/ossboard-org/ossboard/events","assignees_url":"https://api.github.com/repos/ossboard-org/ossboard/assignees{/user}","branches_url":"https://api.github.com/repos/ossboard-org/ossboard/branches{/branch}","tags_url":"https://api.github.com/repos/ossboard-org/ossboard/tags","blobs_url":"https://api.github.com/repos/ossboard-org/ossboard/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ossboard-org/ossboard/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ossboard-org/ossboard/git/refs{/sha}","trees_url":"https://api.github.com/repos/ossboard-org/ossboard/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ossboard-org/ossboard/statuses/{sha}","languages_url":"https://api.github.com/repos/ossboard-org/ossboard/languages","stargazers_url":"https://api.github.com/repos/ossboard-org/ossboard/stargazers","contributors_url":"https://api.github.com/repos/ossboard-org/ossboard/contributors","subscribers_url":"https://api.github.com/repos/ossboard-org/ossboard/subscribers","subscription_url":"https://api.github.com/repos/ossboard-org/ossboard/subscription","commits_url":"https://api.github.com/repos/ossboard-org/ossboard/commits{/sha}","git_commits_url":"https://api.github.com/repos/ossboard-org/ossboard/git/commits{/sha}","comments_url":"https://api.github.com/repos/ossboard-org/ossboard/comments{/number}","issue_comment_url":"https://api.github.com/repos/ossboard-org/ossboard/issues/comments{/number}","contents_url":"https://api.github.com/repos/ossboard-org/ossboard/contents/{+path}","compare_url":"https://api.github.com/repos/ossboard-org/ossboard/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ossboard-org/ossboard/merges","archive_url":"https://api.github.com/repos/ossboard-org/ossboard/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ossboard-org/ossboard/downloads","issues_url":"https://api.github.com/repos/ossboard-org/ossboard/issues{/number}","pulls_url":"https://api.github.com/repos/ossboard-org/ossboard/pulls{/number}","milestones_url":"https://api.github.com/repos/ossboard-org/ossboard/milestones{/number}","notifications_url":"https://api.github.com/repos/ossboard-org/ossboard/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ossboard-org/ossboard/labels{/name}","releases_url":"https://api.github.com/repos/ossboard-org/ossboard/releases{/id}","deployments_url":"https://api.github.com/repos/ossboard-org/ossboard/deployments","created_at":"2016-11-22T21:26:08Z","updated_at":"2017-02-05T09:31:26Z","pushed_at":"2017-02-10T01:42:25Z","git_url":"git://github.com/ossboard-org/ossboard.git","ssh_url":"git@github.com:ossboard-org/ossboard.git","clone_url":"https://github.com/ossboard-org/ossboard.git","svn_url":"https://github.com/ossboard-org/ossboard","homepage":"http://www.ossboard.org","size":825,"stargazers_count":29,"watchers_count":29,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":20,"mirror_url":null,"open_issues_count":6,"forks":20,"open_issues":6,"watchers":29,"default_branch":"master","organization":{"login":"ossboard-org","id":25467649,"avatar_url":"https://avatars.githubusercontent.com/u/25467649?v=3","gravatar_id":"","url":"https://api.github.com/users/ossboard-org","html_url":"https://github.com/ossboard-org","followers_url":"https://api.github.com/users/ossboard-org/followers","following_url":"https://api.github.com/users/ossboard-org/following{/other_user}","gists_url":"https://api.github.com/users/ossboard-org/gists{/gist_id}","starred_url":"https://api.github.com/users/ossboard-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ossboard-org/subscriptions","organizations_url":"https://api.github.com/users/ossboard-org/orgs","repos_url":"https://api.github.com/users/ossboard-org/repos","events_url":"https://api.github.com/users/ossboard-org/events{/privacy}","received_events_url":"https://api.github.com/users/ossboard-org/received_events","type":"Organization","site_admin":false},"network_count":20,"subscribers_count":8}'
  recorded_at: Sat, 11 Feb 2017 18:29:01 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hanami/hanami/issues/663
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1486841342'
      Etag:
      - W/"a076e70a4c4d3029fe94ad9be331d9f6"
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/hanami/hanami
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1486841342'
      Etag:
      - W/"7911f7117c9c199bb657b832e064343b"
      Last-Mo[...]
