---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/gitlab-org%2Fgitlab-ce/issues/?iid=28059
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - ''
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"401 Unauthorized"}'
  recorded_at: Sun, 29 Jan 2017 00:27:32 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/gitlab-org%2Fgitlab-ce
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2f80ac876019f651069e328cbb6a24b3"
    body:
      encoding: UTF-8
      string: '{"id":13083,"http_url_to_repo":"https://gitlab.com/gitlab-org/gitlab-ce.git","web_url":"https://gitlab.com/gitlab-org/gitlab-ce","name":"GitLab
        Community Edition","name_with_namespace":"GitLab.org / GitLab Community Edition","path":"gitlab-ce","path_with_namespace":"gitlab-org/gitlab-ce"}'
  recorded_at: Sun, 29 Jan 2017 00:27:33 GMT
- request:
    method: get
    uri: https://api.github.com/repos/gitlab-org/gitlab-ce/issues/27371
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1485653547'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Sun, 29 Jan 2017 00:32:28 GMT
recorded_with: VCR 3.0.3
