---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/gitlab-org%2Fgitlab-ce/issues/?iid=28059
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - dyCGuz_Jp2Wx9DyZJzdh
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"57e7e1b61fbafac3cea6ef375e862814"
      Link:
      - <https://gitlab.com/api/v3/projects/gitlab-org%2Fgitlab-ce/issues?id=gitlab-org%2Fgitlab-ce&iid=28059&order_by=created_at&page=1&per_page=20&sort=desc&state=all>;
        rel="first", <https://gitlab.com/api/v3/projects/gitlab-org%2Fgitlab-ce/issues?id=gitlab-org%2Fgitlab-ce&iid=28059&order_by=created_at&page=1&per_page=20&sort=desc&state=all>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":4343075,"iid":28059,"project_id":13083,"title":"No pagination
        on abuse_reports","description":"We removed\n\n```\n    = paginate @abuse_reports\n```\n\nfrom
        `app/views/admin/abuse_reports/index.html.haml` in https://gitlab.com/gitlab-org/gitlab-ee/commit/1e6d8a388c3e818ee63daabb3b05b0c30f4502fe\n\nThis
        removed the ability to paginate through the abuse pages\n\n//cc @lbennett
        @briann","state":"opened","created_at":"2017-02-11T18:01:27.030Z","updated_at":"2017-02-11T18:08:08.988Z","labels":["Frontend","UX","bug","regression","spam
        fighting"],"milestone":null,"assignee":null,"author":{"name":"Chris Wilson","username":"MrChrisW","id":444214,"state":"active","avatar_url":"https://gitlab.com/uploads/user/avatar/444214/avatar.png","web_url":"https://gitlab.com/MrChrisW"},"subscribed":false,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitlab-org/gitlab-ce/issues/28059"}]'
  recorded_at: Sat, 11 Feb 2017 18:56:30 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/gitlab-org%2Fgitlab-ce
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - dyCGuz_Jp2Wx9DyZJzdh
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"da5d804638a90d8892ca190107207db0"
    body:
      encoding: UTF-8
      string: '{"id":13083,"description":"Version Control on your Server. See https://gitlab.com/gitlab-org/gitlab-ce
        and the README for more information","default_branch":"master","tag_list":[],"public":true,"archived":false,"visibility_level":20,"ssh_url_to_repo":"git@gitlab.com:gitlab-org/gitlab-ce.git","http_url_to_repo":"https://gitlab.com/gitlab-org/gitlab-ce.git","web_url":"https://gitlab.com/gitlab-org/gitlab-ce","name":"GitLab
        Community Edition","name_with_namespace":"GitLab.org / GitLab Community Edition","path":"gitlab-ce","path_with_namespace":"gitlab-org/gitlab-ce","container_registry_enabled":false,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":false,"builds_enabled":true,"snippets_enabled":true,"created_at":"2013-09-26T06:02:36.000Z","last_activity_at":"2017-02-11T18:15:45.262Z","shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1,"namespace":{"id":9970,"name":"GitLab.org","path":"gitlab-org","kind":"group"},"avatar_url":"https://gitlab.com/uploads/project/avatar/13083/logo-extra-whitespace.png","star_count":2727,"forks_count":2586,"open_issues_count":6255,"public_builds":true,"shared_with_groups":[],"only_allow_merge_if_build_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"approvals_before_merge":0,"permissions":{"project_access":null,"group_access":null}}'
  recorded_at: Sat, 11 Feb 2017 18:56:31 GMT
recorded_with: VCR 3.0.3
